.PokeList--container {
  .PokeList--loading {
    font-size: 2rem;
    color: #442f7e;
    font-weight: bold;
  }
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.6rem;
  }
}
